<?xml version="1.0"?>
<config>
    <modules>
        <Lbs71_Adminrefunds>
            <version>1.0.0</version>
        </Lbs71_Adminrefunds>
    </modules>
        <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lbs71_Adminrefunds after="Mage_Adminhtml">Lbs71_Adminrefunds</Lbs71_Adminrefunds>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <global>
        <helpers>
            <lbs71_adminrefunds>
                <class>Lbs71_Adminrefunds_Helper</class>
            </lbs71_adminrefunds>
        </helpers>
    </global>
</config>